.DS_Store
.ansible
.bundle
.editorconfig
.envrc
.github/
.idea/
.travis.yml
.vagrant
npm-debug.log
package.box
playbook.retry
wordpress/*.*
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/wp-content/plugins/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/index.php