.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;

    @media (min-width: $md) {
        flex-direction: row;
    }
}

.column {
    width: 100%;

    @media (min-width: $md) {
        width: 30%;
    }
}

.column-text {
    padding: .5em 0;
    line-height: 20px;
}

.row {
}
